section{
  height: 200px;
  width: 200px;
  background-color: pink;
  border: 3px solid black;
  transition-duration: 5s;
  transition-property: background-color;
  transition-delay: 2s;
}
section:hover{
  background-color: aqua;
  border-radius: 50%;
}
article{
  margin: 20px;
  border: 2px solid black;
}
article div{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  background-color: aqua;
  margin: 10px;
  
}
.linear{
  transition: width 0.5s;
}
.linear:hover{
  width: 300px;
  transition-timing-function: linear;
}
.ease{
  transition: width 1s;
}
.ease:hover{
  width: 300px;
  transition-timing-function: ease;
}
.ease-in{
  transition: width 1s;
}
.ease-in:hover{
  width: 300px;
  transition-timing-function: ease-in;
}
.ease-out{
  transition: width 1s;
}
.ease-out:hover{
  width: 300px;
  transition-timing-function: ease-out;
}
.ease-in-out{
  transition: width 1s;
}
.ease-in-out:hover{
  width: 300px;
  transition-timing-function: ease-in-out;
}
/* section{
  height: 200px;
  width: 200px;
  background-color: pink;
  border: 2px solid black;
  
  transition-duration: 2s;
  transition-property: background-color;
  transition-delay: 2s;
}
section:hover{
  border-radius: 50%;
  background-color: lightblue;
}
article{
  margin: 20px;
  border: 2px solid black;
}
article div{
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border: 2px solid black;
  margin: 10px;
  transition: 1s;
}
article:hover div{
  margin-left: 900px;
}
div:nth-of-type(1){
  transition-timing-function: linear;
}
div:nth-of-type(2){
  transition-timing-function: ease;
}
div:nth-of-type(3){
  transition-timing-function:ease-in;
}
div:nth-of-type(4){
  transition-timing-function: ease-out;
}
div:nth-of-type(5){
  transition-timing-function: cubic-bezier();
}  */